html,body {
  margin:0;
  padding:0;
  background-image: linear-gradient(rgb(44,41,67), rgb(22,20,30));
  }
  
  head{color: white};

  a {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  a:link {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  a:visited {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  a:hover {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  a:active {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .text_center {text-align: center;}
  .float_left {float: left;}
  
  .navbar {
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 22px;
      background-color: black;
      margin: 0px;
      padding: 20px;
      text-align: center;
  }
  
  .rightsbar {
      color: grey;
      font-family: 'Roboto Condensed', sans-serif;
      background-color: black;
      margin: 0px;
      padding: 20px;
      text-align: center;
  }
  
  img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  
  table.center {
      color: white;
      margin-left:auto; 
      margin-right:auto;
      font-family: 'Roboto', sans-serif;
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }

  button:active{
    background-color: Black;
  }
